In [1]:
import pyspark

#Congifure PySpark Session for MongoDB and Elasticsearch
spark = pyspark.sql.SparkSession \
    .builder \
    .master("local") \
    .appName('jupyter-pyspark') \
      .config("spark.mongodb.input.uri", "mongodb://admin:mongopw@mongo:27017/admin?authSource=admin") \
      .config("spark.mongodb.output.uri", "mongodb://admin:mongopw@mongo:27017/admin?authSource=admin") \
      .config("spark.jars.packages","org.mongodb.spark:mongo-spark-connector_2.12:3.0.1")\
      .config("spark.jars.packages","org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0")\
      .config("spark.es.nodes", "elasticsearch") \
      .config("spark.es.port","9200") \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.elasticsearch#elasticsearch-spark-20_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-a09aa962-1f3a-4850-bf04-9da37af93793;1.0
	confs: [default]
	found org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 in central
	found org.scala-lang#scala-reflect;2.12.8 in central
	found org.slf4j#slf4j-api;1.7.6 in central
	found commons-logging#commons-logging;1.1.1 in central
	found javax.xml.bind#jaxb-api;2.3.1 in central
	found com.google.protobuf#protobuf-java;2.5.0 in central
	found org.apache.spark#spark-yarn_2.12;2.4.4 in central
:: resolution report :: resolve 972ms :: artifacts dl 18ms
	:: modules in use:
	com.google.protobuf#protobuf-java;2.5.0 from central in [default]
	commons-logging#commons-logging;1.1.1 from central in [default]
	javax.xml.bind#jaxb-api;2.3.1 from central in [default]
	org.apache.spark#spark-yarn_2.12;2.4.4 from central in [default]
	org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 from central in [default]
	org.scala-lang#scala-reflect;2.12.8 from central in [default]
	org.slf4j#slf4j-api;1.7.6 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   7   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-a09aa962-1f3a-4850-bf04-9da37af93793
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/28ms)
22/12/20 00:44:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
#Read in JSON file and CSV file
RAW_CHIPOTLE_STATE_BORDERS = spark.read.json('file:///home/jovyan/datasets/Final_Project/Chipotle_State_Borders_JSON.json')
RAW_CHIPOTLE_LOCATIONS = spark.read.option('header',True).csv('file:///home/jovyan/datasets/Final_Project/Chipotle_Locations.csv')

#Check out the files
RAW_CHIPOTLE_STATE_BORDERS.show(10)
RAW_CHIPOTLE_LOCATIONS.show(10)

+--------------------+--------------------+----+-------------+-------+
|     _corrupt_record|            geometry|  id|   properties|   type|
+--------------------+--------------------+----+-------------+-------+
|{"type":"FeatureC...|                null|null|         null|   null|
|                null|{[[[-87.359296, 3...|  AL|    {Alabama}|Feature|
|                null|{[[[[-131.602021,...|  AK|     {Alaska}|Feature|
|                null|{[[[-109.042503, ...|  AZ|    {Arizona}|Feature|
|                null|{[[[-94.473842, 3...|  AR|   {Arkansas}|Feature|
|                null|{[[[-123.233256, ...|  CA| {California}|Feature|
|                null|{[[[-107.919731, ...|  CO|   {Colorado}|Feature|
|                null|{[[[-73.053528, 4...|  CT|{Connecticut}|Feature|
|                null|{[[[-75.414089, 3...|  DE|   {Delaware}|Feature|
|                null|{[[[-85.497137, 3...|  FL|    {Florida}|Feature|
+--------------------+--------------------+----+-------------+-------+
only showing top 10 rows

+-------+----------+--------------------+------------------+------------------+
|  state|  location|             address|          latitude|         longitude|
+-------+----------+--------------------+------------------+------------------+
|Alabama|    Auburn|346 W Magnolia Av...|32.606812966051244|-85.48732833164195|
|Alabama|Birmingham|300 20th St S Bir...|33.509721495414745|-86.80275567068401|
|Alabama|Birmingham|3220 Morrow Rd Bi...| 33.59558141391436|-86.64743684970283|
|Alabama|Birmingham|4719 Highway 280 ...| 33.42258214624579| -86.6982794650297|
|Alabama|   Cullman|1821 Cherokee Ave...| 34.15413376734492|-86.84122007667406|
|Alabama|    Hoover|1759 Montgomery H...|33.378958029568594|-86.80380210088629|
|Alabama|Huntsville|5900 University D...|34.742319254429496| -86.6657204641674|
|Alabama|    Mobile|3871 Airport Blvd...|30.675337809949887|  -88.143753929995|
|Alabama|    Mobile|7765 Airport Blvd...| 30.68273057569605|-88.22499815689844|
|Alabama|Montgomery|2560 Berryhill Rd...| 32.35917687650774|-86.16225285227608|
+-------+----------+--------------------+------------------+------------------+
only showing top 10 rows

In [3]:
#Write data to MongoDB
RAW_CHIPOTLE_STATE_BORDERS.write.format("mongo").mode("overwrite").option("database","project").option("collection","raw_chipotle_state_borders").save()
RAW_CHIPOTLE_LOCATIONS.write.format("mongo").mode("overwrite").option("database","project").option("collection","raw_chipotle_locations").save()

In [4]:
#Read data from MongoDB
print('JSON file from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","raw_chipotle_state_borders").load().show(10)
print('\nCSV file from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","raw_chipotle_locations").load().show(10)

JSON file from MongoDB
+--------------------+--------------------+--------------------+----+-------------+-------+
|     _corrupt_record|                 _id|            geometry|  id|   properties|   type|
+--------------------+--------------------+--------------------+----+-------------+-------+
|{"type":"FeatureC...|{63a10577b40f1b1d...|                null|null|         null|   null|
|                null|{63a10577b40f1b1d...|{[[[-87.359296, 3...|  AL|    {Alabama}|Feature|
|                null|{63a10577b40f1b1d...|{[[[[-131.602021,...|  AK|     {Alaska}|Feature|
|                null|{63a10577b40f1b1d...|{[[[-109.042503, ...|  AZ|    {Arizona}|Feature|
|                null|{63a10577b40f1b1d...|{[[[-94.473842, 3...|  AR|   {Arkansas}|Feature|
|                null|{63a10577b40f1b1d...|{[[[-123.233256, ...|  CA| {California}|Feature|
|                null|{63a10577b40f1b1d...|{[[[-107.919731, ...|  CO|   {Colorado}|Feature|
|                null|{63a10577b40f1b1d...|{[[[-73.053528, 4...|  CT|{Connecticut}|Feature|
|                null|{63a10577b40f1b1d...|{[[[-75.414089, 3...|  DE|   {Delaware}|Feature|
|                null|{63a10577b40f1b1d...|{[[[-85.497137, 3...|  FL|    {Florida}|Feature|
+--------------------+--------------------+--------------------+----+-------------+-------+
only showing top 10 rows


CSV file from MongoDB
+--------------------+--------------------+------------------+----------+------------------+-------+
|                 _id|             address|          latitude|  location|         longitude|  state|
+--------------------+--------------------+------------------+----------+------------------+-------+
|{63a10578b40f1b1d...|346 W Magnolia Av...|32.606812966051244|    Auburn|-85.48732833164195|Alabama|
|{63a10578b40f1b1d...|300 20th St S Bir...|33.509721495414745|Birmingham|-86.80275567068401|Alabama|
|{63a10578b40f1b1d...|3220 Morrow Rd Bi...| 33.59558141391436|Birmingham|-86.64743684970283|Alabama|
|{63a10578b40f1b1d...|4719 Highway 280 ...| 33.42258214624579|Birmingham| -86.6982794650297|Alabama|
|{63a10578b40f1b1d...|1821 Cherokee Ave...| 34.15413376734492|   Cullman|-86.84122007667406|Alabama|
|{63a10578b40f1b1d...|1759 Montgomery H...|33.378958029568594|    Hoover|-86.80380210088629|Alabama|
|{63a10578b40f1b1d...|5900 University D...|34.742319254429496|Huntsville| -86.6657204641674|Alabama|
|{63a10578b40f1b1d...|3871 Airport Blvd...|30.675337809949887|    Mobile|  -88.143753929995|Alabama|
|{63a10578b40f1b1d...|7765 Airport Blvd...| 30.68273057569605|    Mobile|-88.22499815689844|Alabama|
|{63a10578b40f1b1d...|2560 Berryhill Rd...| 32.35917687650774|Montgomery|-86.16225285227608|Alabama|
+--------------------+--------------------+------------------+----------+------------------+-------+
only showing top 10 rows

In [5]:
#Clean JSON data
CHIPOTLE_STATE_BORDERS = RAW_CHIPOTLE_STATE_BORDERS
CHIPOTLE_STATE_BORDERS.printSchema()
CHIPOTLE_STATE_BORDERS.createOrReplaceTempView('CHIPOTLE_STATE_BORDERS')
CHIPOTLE_STATE_BORDERS = spark.sql('''
    SELECT
        explode(geometry.coordinates) COORDINATES,
        properties.name STATE
    FROM
        CHIPOTLE_STATE_BORDERS''')
CHIPOTLE_STATE_BORDERS.createOrReplaceTempView('CHIPOTLE_STATE_BORDERS')
CHIPOTLE_STATE_BORDERS = spark.sql('''
    SELECT
        explode(COORDINATES) COORDINATES,
        STATE
    FROM
        CHIPOTLE_STATE_BORDERS''')
CHIPOTLE_STATE_BORDERS.createOrReplaceTempView('CHIPOTLE_STATE_BORDERS')
CHIPOTLE_STATE_BORDERS = spark.sql('''
    SELECT
        COORDINATES,
        explode(COORDINATES) EXPLODED,
        STATE
    FROM
        CHIPOTLE_STATE_BORDERS''')
CHIPOTLE_STATE_BORDERS.createOrReplaceTempView('CHIPOTLE_STATE_BORDERS')
CHIPOTLE_STATE_BORDERS = spark.sql('''
    SELECT
        COORDINATES,
        EXPLODED,
        LEFT(CAST(EXPLODED AS STRING),1) EXPLODED_FIRST_CHAR,
        STATE
    FROM
        CHIPOTLE_STATE_BORDERS''')
CHIPOTLE_STATE_BORDERS.createOrReplaceTempView('CHIPOTLE_STATE_BORDERS')
CHIPOTLE_STATE_BORDERS = spark.sql('''
    SELECT
        EXPLODED COORDINATES,
        STATE
    FROM
        CHIPOTLE_STATE_BORDERS
    WHERE
        EXPLODED_FIRST_CHAR = '['
    UNION
    SELECT
        CAST(COORDINATES AS STRING) COORDINATES,
        STATE
    FROM
        CHIPOTLE_STATE_BORDERS
    WHERE
        EXPLODED_FIRST_CHAR != '[' OR EXPLODED_FIRST_CHAR IS NULL
        ''')
CHIPOTLE_STATE_BORDERS.show(10)

root
 |-- _corrupt_record: string (nullable = true)
 |-- geometry: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: array (containsNull = true)
 |    |    |    |-- element: array (containsNull = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- properties: struct (nullable = true)
 |    |-- name: string (nullable = true)
 |-- type: string (nullable = true)

+--------------------+----------+
|         COORDINATES|     STATE|
+--------------------+----------+
|[-134.499322,57.0...|    Alaska|
|[-151.116359,59.7...|    Alaska|
|[-162.14144,66.07...|    Alaska|
|[-160.837928,70.3...|    Alaska|
|[-155.881297,19.0...|    Hawaii|
|[-75.972737,39.55...|  Maryland|
|[-77.018833,38.44...|  Maryland|
|[-88.416346,47.37...|  Michigan|
|[-117.498899, 37....|California|
|[-80.381674, 27.7...|   Florida|
+--------------------+----------+
only showing top 10 rows

In [6]:
#Clean CSV data
CHIPOTLE_LOCATIONS = RAW_CHIPOTLE_LOCATIONS
CHIPOTLE_LOCATIONS.createOrReplaceTempView('CHIPOTLE_LOCATIONS')
CHIPOTLE_LOCATIONS = spark.sql('''
    SELECT
        state STATE,
        location CITY,
        location||', '||state CITY_STATE,
        address ADDRESS,
        longitude||', '||latitude LON_LAT,
        longitude LON,
        latitude LAT
    FROM
        CHIPOTLE_LOCATIONS''')
CHIPOTLE_LOCATIONS.show(10)

+-------+----------+-------------------+--------------------+--------------------+------------------+------------------+
|  STATE|      CITY|         CITY_STATE|             ADDRESS|             LON_LAT|               LON|               LAT|
+-------+----------+-------------------+--------------------+--------------------+------------------+------------------+
|Alabama|    Auburn|    Auburn, Alabama|346 W Magnolia Av...|-85.4873283316419...|-85.48732833164195|32.606812966051244|
|Alabama|Birmingham|Birmingham, Alabama|300 20th St S Bir...|-86.8027556706840...|-86.80275567068401|33.509721495414745|
|Alabama|Birmingham|Birmingham, Alabama|3220 Morrow Rd Bi...|-86.6474368497028...|-86.64743684970283| 33.59558141391436|
|Alabama|Birmingham|Birmingham, Alabama|4719 Highway 280 ...|-86.6982794650297...| -86.6982794650297| 33.42258214624579|
|Alabama|   Cullman|   Cullman, Alabama|1821 Cherokee Ave...|-86.8412200766740...|-86.84122007667406| 34.15413376734492|
|Alabama|    Hoover|    Hoover, Alabama|1759 Montgomery H...|-86.8038021008862...|-86.80380210088629|33.378958029568594|
|Alabama|Huntsville|Huntsville, Alabama|5900 University D...|-86.6657204641674...| -86.6657204641674|34.742319254429496|
|Alabama|    Mobile|    Mobile, Alabama|3871 Airport Blvd...|-88.143753929995,...|  -88.143753929995|30.675337809949887|
|Alabama|    Mobile|    Mobile, Alabama|7765 Airport Blvd...|-88.2249981568984...|-88.22499815689844| 30.68273057569605|
|Alabama|Montgomery|Montgomery, Alabama|2560 Berryhill Rd...|-86.1622528522760...|-86.16225285227608| 32.35917687650774|
+-------+----------+-------------------+--------------------+--------------------+------------------+------------------+
only showing top 10 rows

In [7]:
#Write and Read clenaed data sources to and from MongoDB

#Write data to MongoDB
CHIPOTLE_STATE_BORDERS.write.format("mongo").mode("overwrite").option("database","project").option("collection","chipotle_state_borders").save()
CHIPOTLE_LOCATIONS.write.format("mongo").mode("overwrite").option("database","project").option("collection","chipotle_locations").save()

#Read data from MongoDB
print('Cleaned JSON file from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","chipotle_state_borders").load().show(10)
print('\nCleaned CSV file from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","chipotle_locations").load().show(10)

Cleaned JSON file from MongoDB
+--------------------+----------+--------------------+
|         COORDINATES|     STATE|                 _id|
+--------------------+----------+--------------------+
|[-134.499322,57.0...|    Alaska|{63a105e1b40f1b1d...|
|[-151.116359,59.7...|    Alaska|{63a105e1b40f1b1d...|
|[-162.14144,66.07...|    Alaska|{63a105e1b40f1b1d...|
|[-160.837928,70.3...|    Alaska|{63a105e1b40f1b1d...|
|[-155.881297,19.0...|    Hawaii|{63a105e1b40f1b1d...|
|[-75.972737,39.55...|  Maryland|{63a105e1b40f1b1d...|
|[-77.018833,38.44...|  Maryland|{63a105e1b40f1b1d...|
|[-88.416346,47.37...|  Michigan|{63a105e1b40f1b1d...|
|[-117.498899, 37....|California|{63a105e1b40f1b1d...|
|[-80.381674, 27.7...|   Florida|{63a105e1b40f1b1d...|
+--------------------+----------+--------------------+
only showing top 10 rows


Cleaned CSV file from MongoDB
+--------------------+----------+-------------------+------------------+------------------+--------------------+-------+--------------------+
|             ADDRESS|      CITY|         CITY_STATE|               LAT|               LON|             LON_LAT|  STATE|                 _id|
+--------------------+----------+-------------------+------------------+------------------+--------------------+-------+--------------------+
|346 W Magnolia Av...|    Auburn|    Auburn, Alabama|32.606812966051244|-85.48732833164195|-85.4873283316419...|Alabama|{63a105e6b40f1b1d...|
|300 20th St S Bir...|Birmingham|Birmingham, Alabama|33.509721495414745|-86.80275567068401|-86.8027556706840...|Alabama|{63a105e6b40f1b1d...|
|3220 Morrow Rd Bi...|Birmingham|Birmingham, Alabama| 33.59558141391436|-86.64743684970283|-86.6474368497028...|Alabama|{63a105e6b40f1b1d...|
|4719 Highway 280 ...|Birmingham|Birmingham, Alabama| 33.42258214624579| -86.6982794650297|-86.6982794650297...|Alabama|{63a105e6b40f1b1d...|
|1821 Cherokee Ave...|   Cullman|   Cullman, Alabama| 34.15413376734492|-86.84122007667406|-86.8412200766740...|Alabama|{63a105e6b40f1b1d...|
|1759 Montgomery H...|    Hoover|    Hoover, Alabama|33.378958029568594|-86.80380210088629|-86.8038021008862...|Alabama|{63a105e6b40f1b1d...|
|5900 University D...|Huntsville|Huntsville, Alabama|34.742319254429496| -86.6657204641674|-86.6657204641674...|Alabama|{63a105e6b40f1b1d...|
|3871 Airport Blvd...|    Mobile|    Mobile, Alabama|30.675337809949887|  -88.143753929995|-88.143753929995,...|Alabama|{63a105e6b40f1b1d...|
|7765 Airport Blvd...|    Mobile|    Mobile, Alabama| 30.68273057569605|-88.22499815689844|-88.2249981568984...|Alabama|{63a105e6b40f1b1d...|
|2560 Berryhill Rd...|Montgomery|Montgomery, Alabama| 32.35917687650774|-86.16225285227608|-86.1622528522760...|Alabama|{63a105e6b40f1b1d...|
+--------------------+----------+-------------------+------------------+------------------+--------------------+-------+--------------------+
only showing top 10 rows

In [8]:
#Use Spark SQL to combine all data
CHIPOTLE_STATE_BORDERS.createOrReplaceTempView('CHIPOTLE_STATE_BORDERS')
CHIPOTLE_LOCATIONS.createOrReplaceTempView('CHIPOTLE_LOCATIONS')

CHIPOTLE_COMBINED_DATA = spark.sql('''
    SELECT
        STATE,
        CITY,
        CITY_STATE,
        ADDRESS,
        LON_LAT,
        LON,
        LAT
    FROM
        CHIPOTLE_LOCATIONS
        
    UNION
    
    SELECT
        STATE,
        NULL CITY,
        NULL CITY_STATE,
        NULL ADDRESS,
        SUBSTR(COORDINATES,2,LENGTH(COORDINATES)-1) LON_LAT,
        SUBSTR(TRIM(SPLIT(COORDINATES,',')[0]),2) LON,
        SUBSTR(TRIM(SPLIT(COORDINATES,',')[1]),1,LENGTH(TRIM(SPLIT(COORDINATES,',')[1])) -1) LAT
    FROM
        CHIPOTLE_STATE_BORDERS''')

CHIPOTLE_COMBINED_DATA.show(10)

#Validate combined data
CHIPOTLE_COMBINED_DATA.createOrReplaceTempView('CHIPOTLE_COMBINED_DATA')
spark.sql('''
    SELECT
        COUNT(*)
    FROM
        CHIPOTLE_COMBINED_DATA
    WHERE
        LAT IS NULL
        OR LON IS NULL
        OR LON_LAT IS NULL''').show()

+--------------+----------------+--------------------+--------------------+--------------------+-------------------+------------------+
|         STATE|            CITY|          CITY_STATE|             ADDRESS|             LON_LAT|                LON|               LAT|
+--------------+----------------+--------------------+--------------------+--------------------+-------------------+------------------+
|    California|City Of Industry|City Of Industry,...|15495 Valley Blvd...|-117.959593500000...|-117.95959350000001|        34.0219656|
|    California|     Los Angeles|Los Angeles, Cali...|7660 W Sunset Blv...|-118.356905212680...|-118.35690521268083|  34.0978471129027|
|       Florida|   Coral Springs|Coral Springs, Fl...|1775 N University...|-80.2523191679101...| -80.25231916791013|26.252865595198628|
|          Iowa|          Ankeny|        Ankeny, Iowa|2125 SE Delaware ...|-93.5807689589128...|  -93.5807689589128|41.709325487080214|
|      New York|     East Meadow|East Meadow, New ...|2312 Hempstead Tp...|-73.5505444434707...| -73.55054444347071| 40.72452263660088|
|North Carolina|    Fayetteville|Fayetteville, Nor...|4715 Ramsey St Fa...|-78.879958, 35.12...|         -78.879958|         35.125971|
|         Texas|          Austin|       Austin, Texas|610 E Stassney Ln...|-97.7684819999999...| -97.76848199999999|         30.201279|
|       Vermont|      Burlington| Burlington, Vermont|580 Shelburne Rd ...|-73.208072, 44.44...|         -73.208072|         44.448782|
|      Virginia|         Fairfax|   Fairfax, Virginia|9506 Main St No 2...|-77.2721522, 38.8...|        -77.2721522|         38.842982|
|     Wisconsin|            null|                null|                null|-87.189511, 44.96...|         -87.189511|         44.969211|
+--------------+----------------+--------------------+--------------------+--------------------+-------------------+------------------+
only showing top 10 rows

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [9]:
#Create Coordinate only dataframes and display both of these created
CHIPOTLE_ALL_COORDINATES = CHIPOTLE_COMBINED_DATA.select('LON_LAT')
CHIPOTLE_STATE_COORDINATES = CHIPOTLE_STATE_BORDERS.select('COORDINATES').withColumnRenamed('COORDINATES','LON_LAT')
CHIPOTLE_LOCATION_COORDINATES = CHIPOTLE_LOCATIONS.select('LON_LAT')

In [10]:
#Read and wrtie the 4 new dataframes to and from MongoDB
#Write data to MongoDB
CHIPOTLE_COMBINED_DATA.write.format("mongo").mode("overwrite").option("database","project").option("collection","chipotle_combined_data").save()
CHIPOTLE_ALL_COORDINATES.write.format("mongo").mode("overwrite").option("database","project").option("collection","chipotle_all_coordinates").save()
CHIPOTLE_STATE_COORDINATES.write.format("mongo").mode("overwrite").option("database","project").option("collection","chipotle_state_coordinates").save()
CHIPOTLE_LOCATION_COORDINATES.write.format("mongo").mode("overwrite").option("database","project").option("collection","chipotle_location_coordinates").save()

#Read data from MongoDB
print('Combined Data from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","chipotle_combined_data").load().show(10)
print('\nAll Coordinates from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","chipotle_all_coordinates").load().show(10)
print('\nState Coordinates from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","chipotle_state_coordinates").load().show(10)
print('\nLocation Coordinates from MongoDB')
spark.read.format("mongo").option("database","project").option("collection","chipotle_location_coordinates").load().show(10)

Combined Data from MongoDB
+--------------------+----------------+--------------------+------------------+-------------------+--------------------+--------------+--------------------+
|             ADDRESS|            CITY|          CITY_STATE|               LAT|                LON|             LON_LAT|         STATE|                 _id|
+--------------------+----------------+--------------------+------------------+-------------------+--------------------+--------------+--------------------+
|15495 Valley Blvd...|City Of Industry|City Of Industry,...|        34.0219656|-117.95959350000001|-117.959593500000...|    California|{63a1060fb40f1b1d...|
|7660 W Sunset Blv...|     Los Angeles|Los Angeles, Cali...|  34.0978471129027|-118.35690521268083|-118.356905212680...|    California|{63a1060fb40f1b1d...|
|1775 N University...|   Coral Springs|Coral Springs, Fl...|26.252865595198628| -80.25231916791013|-80.2523191679101...|       Florida|{63a1060fb40f1b1d...|
|2125 SE Delaware ...|          Ankeny|        Ankeny, Iowa|41.709325487080214|  -93.5807689589128|-93.5807689589128...|          Iowa|{63a1060fb40f1b1d...|
|2312 Hempstead Tp...|     East Meadow|East Meadow, New ...| 40.72452263660088| -73.55054444347071|-73.5505444434707...|      New York|{63a1060fb40f1b1d...|
|4715 Ramsey St Fa...|    Fayetteville|Fayetteville, Nor...|         35.125971|         -78.879958|-78.879958, 35.12...|North Carolina|{63a1060fb40f1b1d...|
|610 E Stassney Ln...|          Austin|       Austin, Texas|         30.201279| -97.76848199999999|-97.7684819999999...|         Texas|{63a1060fb40f1b1d...|
|580 Shelburne Rd ...|      Burlington| Burlington, Vermont|         44.448782|         -73.208072|-73.208072, 44.44...|       Vermont|{63a1060fb40f1b1d...|
|9506 Main St No 2...|         Fairfax|   Fairfax, Virginia|         38.842982|        -77.2721522|-77.2721522, 38.8...|      Virginia|{63a1060fb40f1b1d...|
|                null|            null|                null|         44.969211|         -87.189511|-87.189511, 44.96...|     Wisconsin|{63a1060fb40f1b1d...|
+--------------------+----------------+--------------------+------------------+-------------------+--------------------+--------------+--------------------+
only showing top 10 rows


All Coordinates from MongoDB
+--------------------+--------------------+
|             LON_LAT|                 _id|
+--------------------+--------------------+
|-117.959593500000...|{63a10618b40f1b1d...|
|-118.356905212680...|{63a10618b40f1b1d...|
|-80.2523191679101...|{63a10618b40f1b1d...|
|-93.5807689589128...|{63a10618b40f1b1d...|
|-73.5505444434707...|{63a10618b40f1b1d...|
|-78.879958, 35.12...|{63a10618b40f1b1d...|
|-97.7684819999999...|{63a10618b40f1b1d...|
|-73.208072, 44.44...|{63a10618b40f1b1d...|
|-77.2721522, 38.8...|{63a10618b40f1b1d...|
|-87.189511, 44.96...|{63a10618b40f1b1d...|
+--------------------+--------------------+
only showing top 10 rows


State Coordinates from MongoDB
+--------------------+--------------------+
|             LON_LAT|                 _id|
+--------------------+--------------------+
|[-134.499322,57.0...|{63a1061cb40f1b1d...|
|[-151.116359,59.7...|{63a1061cb40f1b1d...|
|[-162.14144,66.07...|{63a1061cb40f1b1d...|
|[-160.837928,70.3...|{63a1061cb40f1b1d...|
|[-155.881297,19.0...|{63a1061cb40f1b1d...|
|[-75.972737,39.55...|{63a1061cb40f1b1d...|
|[-77.018833,38.44...|{63a1061cb40f1b1d...|
|[-88.416346,47.37...|{63a1061cb40f1b1d...|
|[-117.498899, 37....|{63a1061cb40f1b1d...|
|[-80.381674, 27.7...|{63a1061cb40f1b1d...|
+--------------------+--------------------+
only showing top 10 rows


Location Coordinates from MongoDB
+--------------------+--------------------+
|             LON_LAT|                 _id|
+--------------------+--------------------+
|-85.4873283316419...|{63a1061eb40f1b1d...|
|-86.8027556706840...|{63a1061eb40f1b1d...|
|-86.6474368497028...|{63a1061eb40f1b1d...|
|-86.6982794650297...|{63a1061eb40f1b1d...|
|-86.8412200766740...|{63a1061eb40f1b1d...|
|-86.8038021008862...|{63a1061eb40f1b1d...|
|-86.6657204641674...|{63a1061eb40f1b1d...|
|-88.143753929995,...|{63a1061eb40f1b1d...|
|-88.2249981568984...|{63a1061eb40f1b1d...|
|-86.1622528522760...|{63a1061eb40f1b1d...|
+--------------------+--------------------+
only showing top 10 rows

In [11]:
#Write and read all 8 dataframes to and from Elasticsearch
spark.sparkContext.setLogLevel('ERROR')

RAW_CHIPOTLE_STATE_BORDERS.write.mode("Overwrite").format("es").save("raw_chipotle_state_borders/_doc")
RAW_CHIPOTLE_LOCATIONS.write.mode("Overwrite").format("es").save("raw_chipotle_locations/_doc")
CHIPOTLE_STATE_BORDERS.write.mode("Overwrite").format("es").save("chipotle_state_borders/_doc")
CHIPOTLE_LOCATIONS.write.mode("Overwrite").format("es").save("chipotle_locations/_doc")
CHIPOTLE_COMBINED_DATA.write.mode("Overwrite").format("es").save("chipotle_combined_data/_doc")
CHIPOTLE_ALL_COORDINATES.write.mode("Overwrite").format("es").save("chipotle_all_coordinates/_doc")
CHIPOTLE_STATE_COORDINATES.write.mode("Overwrite").format("es").save("chipotle_state_coordinates/_doc")
CHIPOTLE_LOCATION_COORDINATES.write.mode("Overwrite").format("es").save("chipotle_location_coordinates/_doc")

print('raw_chipotle_state_borders')
#spark.read.format("es").load("raw_chipotle_state_borders/_doc").show(1)
print('UNABLE TO READ "raw_chipotle_state_borders" FROM ELASTICSEARCH DUE TO FORMATTING/SCHEMA ISSUES')
print('\nraw_chipotle_locations')
spark.read.format("es").load("raw_chipotle_locations/_doc").show(1)
print('\nchipotle_state_borders')
spark.read.format("es").load("chipotle_state_borders/_doc").show(1)
print('\nchipotle_locations')
spark.read.format("es").load("chipotle_locations/_doc").show(1)
print('\nchipotle_combined_data')
spark.read.format("es").load("chipotle_combined_data/_doc").show(1)
print('\nchipotle_all_coordinates')
spark.read.format("es").load("chipotle_all_coordinates/_doc").show(1)
print('\nchipotle_state_coordinates')
spark.read.format("es").load("chipotle_state_coordinates/_doc").show(1)
print('\nchipotle_location_coordinates')
spark.read.format("es").load("chipotle_location_coordinates/_doc").show(1)

raw_chipotle_state_borders
UNABLE TO READ "raw_chipotle_state_borders" FROM ELASTICSEARCH DUE TO FORMATTING/SCHEMA ISSUES

raw_chipotle_locations
+--------------------+------------------+--------+------------------+-------+
|             address|          latitude|location|         longitude|  state|
+--------------------+------------------+--------+------------------+-------+
|346 W Magnolia Av...|32.606812966051244|  Auburn|-85.48732833164195|Alabama|
+--------------------+------------------+--------+------------------+-------+
only showing top 1 row


chipotle_state_borders
+--------------------+------+
|         COORDINATES| STATE|
+--------------------+------+
|[-131.426759,55.2...|Alaska|
+--------------------+------+
only showing top 1 row


chipotle_locations
+--------------------+------+---------------+------------------+------------------+--------------------+-------+
|             ADDRESS|  CITY|     CITY_STATE|               LAT|               LON|             LON_LAT|  STATE|
+--------------------+------+---------------+------------------+------------------+--------------------+-------+
|346 W Magnolia Av...|Auburn|Auburn, Alabama|32.606812966051244|-85.48732833164195|-85.4873283316419...|Alabama|
+--------------------+------+---------------+------------------+------------------+--------------------+-------+
only showing top 1 row


chipotle_combined_data
+--------------------+------+---------------+----------+------------+--------------------+-------+
|             ADDRESS|  CITY|     CITY_STATE|       LAT|         LON|             LON_LAT|  STATE|
+--------------------+------+---------------+----------+------------+--------------------+-------+
|1202 W Irvington ...|Tucson|Tucson, Arizona|32.1639328|-110.9897341|-110.9897341, 32....|Arizona|
+--------------------+------+---------------+----------+------------+--------------------+-------+
only showing top 1 row


chipotle_all_coordinates
+--------------------+
|             LON_LAT|
+--------------------+
|-111.683468532820...|
+--------------------+
only showing top 1 row


chipotle_state_coordinates
+-----------+--------------------+
|COORDINATES|             LON_LAT|
+-----------+--------------------+
|       null|[-134.953908,58.4...|
+-----------+--------------------+
only showing top 1 row


chipotle_location_coordinates
+--------------------+
|             LON_LAT|
+--------------------+
|-85.4873283316419...|
+--------------------+
only showing top 1 row

In [12]:
#Drill queries

#Locations in Rochester, New York
'''
SELECT
    ADDRESS
FROM
    MONGO.PROJECT.chipotle_locations
WHERE
    CITY_STATE = 'Rochester, New York'
'''

#Number of Locations per STATE for states with 75 or more locations
'''
SELECT
    STATE,
    COUNT(*) LOCATIONS
FROM
    MONGO.PROJECT.chipotle_locations
GROUP BY
    STATE
HAVING
    COUNT(*) >= 75
'''

#Top 10 CITY_STATE by Number of locations
'''
SELECT
    *
FROM
    (SELECT
        RANK() OVER(ORDER BY LOCATIONS DESC) RANK,
        CITY_STATE,
        LOCATIONS
    FROM
        (SELECT
            CITY_STATE,
            COUNT(*) LOCATIONS
        FROM
            MONGO.PROJECT.chipotle_locations
        GROUP BY
            CITY_STATE))
WHERE
    RANK <= 10
'''
print()

In [15]:
#Kibana Map

#Create Kibana Index Pattern for chipotle_location_coordinates

#Create geo_point field GEO_LON_LAT
'''
emit(
    Double.parseDouble(
    doc['LON_LAT.keyword']
    .value
    .substring(
        doc['LON_LAT.keyword']
        .value
        .indexOf(',')+1))
    ,
    Double.parseDouble(
    doc['LON_LAT.keyword']
    .value
    .substring(0,
        doc['LON_LAT.keyword']
        .value
        .indexOf(','))))
'''

#Create Kibana Map

print()